.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgb(99 99 99 / 20%);
  padding: 1.4rem;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
  border: 1px solid #949494;
  border-radius: 0.5rem;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 15px 0 rgb(180, 180, 180);
    cursor: pointer;
    transition: 0.5s;
  }
  &:active {
    border: 1px solid var(--primary);
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
}

.job-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.job-company {
  color: var(--text-color);
  font-size: 1.4rem;
}

.job-address {
  color: var(--text-color);
  font-size: 1.2rem;
}
.job-salary {
  font-size: 1.2rem;
  background-color: var(--background-color-gray);
  padding: 0.2rem 1.6rem;
  border-radius: 0.2rem;
}
.action {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  &:hover {
    border-radius: 50%;
    background-color: var(--background-color-gray);
    cursor: pointer;
  }
}
.time-up {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--text-color-sub);
  font-size: 1.2rem;
}
