{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
    // enable legacy decorators babel plugin
// enable legacy decorators babel plugin
// enable legacy decorators babel plugin
  ] 
}
