.layout {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.search-filter {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  // max-height: calc(100vh - 500px) ;
}

.filter-result {
  width: 200px;
}

.search-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: calc(100vh - 210px);

}

.job-overview {
  width: 45%;
  // max-height: calc(100vh - 226px);
  overflow-y: scroll;
}
.search-text {
  font-size: 1.4rem;
  color: var(--text-color);
  font-style: italic;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(226, 226, 226);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 1rem;
}

.job-detail {
  width: 55%;
}
