.wrapper {
  width: 100%;
  background: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
  border-radius: 4px;
  z-index: 1000;
  cursor: pointer;
  padding: 0.8rem 4rem 0.8rem 2rem;
  font-size: 1.4rem;


  &:hover {
    background-color: #dce8ff;
  }
}
