.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.home {
  width: 900px;
}
.find {
  width: 100%;
}

.box {
  position: relative;
  width: 43%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  border: 1px solid #949494;
  border-radius: 0.5rem;

  &:focus-within {
    border: 1px solid var(--primary);
  }

  label {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black);
    margin-right: 2rem;
  }

  input {
    width: 68%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--text-color);
  }
}

.clear-icon,
.search-icon,
.location-icon {
  font-size: 1.2rem;
  position: absolute;
  right: 14px;
  top: 50%;
  color: #949494;
  transform: translateY(-50% );
  background-color: transparent;
}